{% extends 'shop/base.html' %}

{% block content %}

<!-- Main Content for Profile Page -->
    <main class="flex-grow flex items-center justify-center p-6">
        <div class="w-full max-w-md bg-white rounded-3xl shadow-xl p-8 md:p-12">
            <h2 class="text-4xl font-bold text-center mb-2 text-gray-800">Update User Info</h2>
            <p class="text-center text-gray-600 mb-8">Update user Information........</p>
            
            <form action="{% url 'update_info' %}" method="POST" class="space-y-6">
                 {% csrf_token %}
                 <strong>Billing Information</strong><br>
                 {{ form.as_p }}
                 <br><br>
                 <strong>Shipping Information</strong>
<br>
                 {{ shipping_form.as_p }}
                 <br>

                 <button type="submit", class="bg-rose-500 text-white font-medium py-2 px-6 text-sm rounded-full hover:bg-rose-600 transition-colors">Update Profile</button>   
            </form>
<br>
        </div>
    </main>

{% endblock %}